{% extends "Home.html" %}
{% load static %}
{% block content %}
  <div class="wrapper">

    <span class="bg-animate"></span>
  
    <div class="form-box register">
      <h2>Register</h2>
  
      <form action="#" method="post">
      {% csrf_token %}
        <div class="input-box" >
          <input type="text" name="username"  required />
          <label>User Name</label>
          <i class="fa-solid fa-user"></i>
        </div>
  
  
        <div class="input-box">
          <input type="email" name="email" required />
          <label>Email</label>
          <i class="fa-solid fa-envelope"></i>
        </div>

        <div class="input-box">
          <input type="password"name="pass1" required />
          <label> Password </label>
          <i class="fa-solid fa-lock"></i>
        </div>

        
        <div class="input-box">
          <input type="password"name="pass2" required />
          <label>Confirm Password </label>
          <i class="fa-solid fa-lock"></i>
        </div>

        {% comment %} <div class="input-box">
          <input type="password"name="password" required />
          <label> Password2 </label>
          <i class="fa-solid fa-lock"></i>
        </div> {% endcomment %}

        
        <button type="submit" class="btn">Register</button>
        <div class="logreg-link">
          <p>Already have an account? <a href="{% url "login" %}"  class="login_link">Login</a></p>
        </div>
      </form>
    </div>
  
   <div class="info-text login">
      <h2>Welcome Back</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti dicta distinctio.</p>
    </div> 
  
  </div>
  

  {% endblock content %}